# Dépendances
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Fichiers de compilation
dist/
build/